/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes arrowBlink1 {
  0%, 100% { color: red; }
  33% { color: green; }
  66% { color: orange; }
}

@keyframes arrowBlink2 {
  0%, 100% { color: green; }
  33% { color: orange; }
  66% { color: red; }
}

@keyframes arrowBlink3 {
  0%, 100% { color: orange; }
  33% { color: red; }
  66% { color: green; }
}

/* src/app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --vh: 100vh; /* Default value */
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body is at least as tall as the viewport */
}

.container-home {
  flex: 1;
  height: calc(var(--vh, 1vh) * 100); /* Use the CSS variable for height */
  width: calc(100vh * 16 / 9); /* Width based on the 16:9 aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure no overflow within the container */
}

* {
  box-sizing: border-box;
}

.glow-text {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.7);
}

.green-neon-text {
  color: #39ff14;
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 40px #39ff14, 0 0 80px #39ff14;
  font-family: 'Brush Script MT', cursive;
  transform: rotate(-10deg);
}

.bluish-glow-text {
  text-shadow: 0 0 10px rgba(0, 0, 255, 0.7), 0 0 20px rgba(0, 0, 255, 0.7), 0 0 30px rgba(0, 0, 255, 0.7);
  font-family: 'Arial', sans-serif;
}

.html-style-text {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 0 0 10px rgba(0, 255, 255, 0.7), 0 0 20px rgba(0, 255, 255, 0.7);
}

.projects-text {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1rem; /* Adjust size as needed */
  color: white;
}



.arrow-animate-1 {
  animation: arrowBlink1 1s infinite;
}

.arrow-animate-2 {
  animation: arrowBlink2 1s infinite;
}

.arrow-animate-3 {
  animation: arrowBlink3 1s infinite;
}

.stylish-projects-text {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem; /* Smaller font size */
  color: white;
}


/* src/app/globals.css */

body {
  font-family: 'Poppins', sans-serif;
}
/* Default footer styling */
.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 60%;
}

/* Adjust footer position for mobile devices */
@media (max-width: 768px) {
  .footer {
    bottom: 40px; /* Move the footer 2rem upwards */
  }
}

